@using Cars_Market.Infrastructure.Data.Models
@model Car

<section class="content">

	<div class="card card-solid">
		<div class="card-body">
			<div class="row">
				<div class="col-10 col-sm-5">
					<h3 class="d-inline-block d-sm-none">@ViewBag.Car.Make</h3>
					<div class="col-12">
						@{
							if (ViewBag.Details.IsSold)
							{
								<div class="ribbon-wrapper ribbon-xl">
									<div class="ribbon bg-danger text-xl">
										SOLD
									</div>
								</div>
							}
						}
						<img src="@String.Format($"data:image/png;base64,{Convert.ToBase64String(ViewBag.Car.Picture)}")" class="product-image" alt="Product Image" width="600" height="350">
					</div>
					@*						<div class="col-12 product-image-thumbs">
						<div class="product-image-thumb active"><img src="@Model.ImageUrl" alt="Product Image" width="620" height="350"></div>
						<div class="product-image-thumb"><img src="../../dist/img/prod-2.jpg" alt="Product Image"></div>
						<div class="product-image-thumb"><img src="../../dist/img/prod-3.jpg" alt="Product Image"></div>
						<div class="product-image-thumb"><img src="../../dist/img/prod-4.jpg" alt="Product Image"></div>
						<div class="product-image-thumb"><img src="../../dist/img/prod-5.jpg" alt="Product Image"></div>*@
				</div>

				<div class="col-10 col-sm-5">
					<h3 class="my-3"> @ViewBag.Car.Make @ViewBag.Car.Model</h3>
					<p>Visited: @ViewBag.Details.Visits Times</p>
					<hr>
					<h4>Year: @ViewBag.Car.Year</h4>
					<h4>Color: @ViewBag.Details.Color</h4>
					<h4>FuelType: @ViewBag.Details.FuelType</h4>
					<h4>GearboxType: @ViewBag.Details.GearboxType</h4>
					<h4>Email: @ViewBag.CarOwner</h4>

					<div class="bg-gray py-2 px-3 mt-4">
						<h2 class="mb-0">
							$ @ViewBag.Car.Money
						</h2>
					</div>
					<div class="mt-4">
						<div class="btn btn-primary btn-lg btn-flat">
							<i class="fas fa-cart-plus fa-lg mr-2"></i>
							Add to Cart
						</div>
						<div class="btn btn-default btn-lg btn-flat">
							<i class="fas fa-heart fa-lg mr-2"></i>
							Add to Wishlist
						</div>
					</div>
					<div class="mt-4 product-share">
						<a href="#" class="text-gray">
							<i class="fab fa-facebook-square fa-2x"></i>
						</a>
						<a href="#" class="text-gray">
							<i class="fab fa-twitter-square fa-2x"></i>
						</a>
						<a href="#" class="text-gray">
							<i class="fas fa-envelope-square fa-2x"></i>
						</a>
						<a href="#" class="text-gray">
							<i class="fas fa-rss-square fa-2x"></i>
						</a>
					</div>
				</div>
			</div>
		</div>


		<div class="row mt-4">
			<nav class="w-100">
				<div class="nav nav-tabs" id="product-tab" role="tablist">
					<a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="false">Description</a>
					<a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Comments</a>
					<a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="true">Rating</a>
				</div>
			</nav>
			<div class="tab-content p-3" id="nav-tabContent">
				<div class="tab-pane fade active show" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> @ViewBag.Details.Description </div>
				<div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
					<div class="container mt-5">
						<div class="row">
							<div class="col-md-8">
								<div class="d-flex flex-column comment-section">
									<div class="bg-white p-2">
										<div class="d-flex flex-row user-info">
											<img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
											<div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
										</div>
										<div class="mt-2">
											<p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>

									<div class="bg-light p-2">
										<div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
										<div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab">
					<div class="container">
						<span id="rateMe2" class="empty-stars"></span>
					</div>

					<!-- rating.js file -->
					
				</div>
			</div>
		</div>
</section>