@using Cars_Market.Infrastructure.Data.Models
@model Car

<section class="content">

	<div class="card card-solid">
		<div class="card-body">
			<div class="row">
				<div class="col-10 col-sm-5">
					<h3 class="d-inline-block d-sm-none">@ViewBag.Car.Make</h3>
					<div class="col-12">
						<img src="@String.Format($"data:image/png;base64,{Convert.ToBase64String(ViewBag.Car.Picture)}")" class="product-image" alt="Product Image" width="600" height="350">
					</div>
					@*						<div class="col-12 product-image-thumbs">
						<div class="product-image-thumb active"><img src="@Model.ImageUrl" alt="Product Image" width="620" height="350"></div>
						<div class="product-image-thumb"><img src="../../dist/img/prod-2.jpg" alt="Product Image"></div>
						<div class="product-image-thumb"><img src="../../dist/img/prod-3.jpg" alt="Product Image"></div>
						<div class="product-image-thumb"><img src="../../dist/img/prod-4.jpg" alt="Product Image"></div>
						<div class="product-image-thumb"><img src="../../dist/img/prod-5.jpg" alt="Product Image"></div>*@
				</div>

				<div class="col-10 col-sm-5">
					<h3 class="my-3"> @ViewBag.Car.Make @ViewBag.Car.Model</h3>
					<p>Visited: @ViewBag.Details.Visits Times</p>
					<hr>
					<h4>Year: @ViewBag.Car.Year</h4>
					<h4>Color: @ViewBag.Details.Color</h4>
					<h4>FuelType: @ViewBag.Details.FuelType</h4>
					<h4>GearboxType: @ViewBag.Details.GearboxType</h4>
					<h4>Email: @User.Identity.Name</h4>

					<div class="bg-gray py-2 px-3 mt-4">
						<h2 class="mb-0">
							$ @ViewBag.Car.Money
						</h2>
					</div>
					<div class="mt-4">
						<div class="btn btn-primary btn-lg btn-flat">
							<i class="fas fa-cart-plus fa-lg mr-2"></i>
							Add to Cart
						</div>
						<div class="btn btn-default btn-lg btn-flat">
							<i class="fas fa-heart fa-lg mr-2"></i>
							Add to Wishlist
						</div>
					</div>
					<div class="mt-4 product-share">
						<a href="#" class="text-gray">
							<i class="fab fa-facebook-square fa-2x"></i>
						</a>
						<a href="#" class="text-gray">
							<i class="fab fa-twitter-square fa-2x"></i>
						</a>
						<a href="#" class="text-gray">
							<i class="fas fa-envelope-square fa-2x"></i>
						</a>
						<a href="#" class="text-gray">
							<i class="fas fa-rss-square fa-2x"></i>
						</a>
					</div>
				</div>
			</div>
		</div>


		<div class="row mt-4">
			<nav class="w-100">
				<div class="nav nav-tabs" id="product-tab" role="tablist">
					<a class="nav-item nav-link" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="false">Description</a>
					<a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Comments</a>
					<a class="nav-item nav-link active" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="true">Rating</a>
				</div>
			</nav>
			<div class="tab-content p-3" id="nav-tabContent">
				<div class="tab-pane fade" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> @ViewBag.Details.Description </div>
				<div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> Vivamus rhoncus nisl sed venenatis luctus. Sed condimentum risus ut tortor feugiat laoreet. Suspendisse potenti. Donec et finibus sem, ut commodo lectus. Cras eget neque dignissim, placerat orci interdum, venenatis odio. Nulla turpis elit, consequat eu eros ac, consectetur fringilla urna. Duis gravida ex pulvinar mauris ornare, eget porttitor enim vulputate. Mauris hendrerit, massa nec aliquam cursus, ex elit euismod lorem, vehicula rhoncus nisl dui sit amet eros. Nulla turpis lorem, dignissim a sapien eget, ultrices venenatis dolor. Curabitur vel turpis at magna elementum hendrerit vel id dui. Curabitur a ex ullamcorper, ornare velit vel, tincidunt ipsum. </div>
				<div class="tab-pane fade active show" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Cras ut ipsum ornare, aliquam ipsum non, posuere elit. In hac habitasse platea dictumst. Aenean elementum leo augue, id fermentum risus efficitur vel. Nulla iaculis malesuada scelerisque. Praesent vel ipsum felis. Ut molestie, purus aliquam placerat sollicitudin, mi ligula euismod neque, non bibendum nibh neque et erat. Etiam dignissim aliquam ligula, aliquet feugiat nibh rhoncus ut. Aliquam efficitur lacinia lacinia. Morbi ac molestie lectus, vitae hendrerit nisl. Nullam metus odio, malesuada in vehicula at, consectetur nec justo. Quisque suscipit odio velit, at accumsan urna vestibulum a. Proin dictum, urna ut varius consectetur, sapien justo porta lectus, at mollis nisi orci et nulla. Donec pellentesque tortor vel nisl commodo ullamcorper. Donec varius massa at semper posuere. Integer finibus orci vitae vehicula placerat. </div>
			</div>
		</div>
	</div>

	</div>

</section>