@using Cars_Market.Infrastructure.Data.Models
@model Profile

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">

				<!-- Profile Image -->
				<div class="card card-primary card-outline">
					<div class="card-body box-profile">
						<div class="text-center">
							<img class="profile-user-img img-fluid img-circle" src="@String.Format($"data:image/png;base64,{Convert.ToBase64String(Model.Picture)}")" alt="User profile picture">
						</div>

						<h3 class="profile-username text-center">@Model.Name</h3>

						<p class="text-muted text-center">Software Engineer</p>

						<ul class="list-group list-group-unbordered mb-3">
							<li class="list-group-item">
								<b>Followers</b> <a class="float-right">1,322</a>
							</li>
							<li class="list-group-item">
								<b>Following</b> <a class="float-right">543</a>
							</li>
							<li class="list-group-item">
								<b>Friends</b> <a class="float-right">13,287</a>
							</li>
						</ul>

						<a href="/Message/Send" class="btn btn-primary btn-block"><b>Send Message</b></a>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
				<!-- About Me Box -->
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">About Me</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<strong><i class="fas fa-book mr-1"></i> Education</strong>

						<p class="text-muted">
							B.S. in Computer Science from the University of Tennessee at Knoxville
						</p>

						<hr>

						<strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

						<p class="text-muted">Malibu, California</p>

						<hr>

						<strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

						<p class="text-muted">
							<span class="tag tag-danger">UI Design</span>
							<span class="tag tag-success">Coding</span>
							<span class="tag tag-info">Javascript</span>
							<span class="tag tag-warning">PHP</span>
							<span class="tag tag-primary">Node.js</span>
						</p>

						<hr>

						<strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

						<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
			<div class="col-md-9">
				<div class="card">
					<div class="card-header p-2">
						<h3 class="card-title">@Model.Name's cars in market</h3>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="tab-content">

							<div>
								<div class="filter-container p-0 row" style="padding: 3px; position: relative; width: 100%; display: flex; flex-wrap: wrap; height: 515px;">
									@{
										foreach (var car in ViewBag.Cars)
										{
											<div class="col-md-8 col-lg-4 col-xl-2">
												<div class="card mb-2 bg-gradient-dark">
													<img class="card-img-top" src="@String.Format($"data:image/png;base64,{Convert.ToBase64String(car.Picture)}")" alt="Card image cap" width="250" height="150">
													<div class="card-body">
														<h5 class="card-title"> @car.Make @car.Model </h5>
														<p class="card-text"> @car.Money $ </p>
														<a href="/Details/Details?carId=@car.Id" type="button" class="btn btn-block btn-secondary">Details</a>
													</div>
												</div>
											</div>
										}
									}
								</div>
							</div>

						</div>
						<!-- /.tab-content -->
					</div><!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div><!-- /.container-fluid -->
</section>