@using Cars_Market.Infrastructure.Data.Models
@model ICollection<Seller>

<section class="content">

	<div class="card card-solid">
		<div class="card-body pb-0">
			<div class="row">
				@{
					foreach (var seller in Model)
					{
						<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
							<div class="card bg-light d-flex flex-fill">
								@*<div class="card-header text-muted border-bottom-0">
									Digital Strategist
								</div>*@
								<div class="card-body pt-0">
									<div class="row">
										<div class="col-7">
											<h2 class="lead"><b>@seller.Profile.Name</b></h2>
											<p class="text-muted text-sm"><b>About: </b> Describe yourself in a few words </p>
											<ul class="ml-4 mb-0 fa-ul text-muted">
												<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: @seller.Profile.Location</li>
												<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: @seller.Profile.Phone </li>
												<li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> Email: @seller.Email </li>
											</ul>
										</div>
										<div class="col-5 text-center">
											<img src="@String.Format($"data:image/png;base64,{Convert.ToBase64String(seller.Profile.Picture)}")" alt="user-avatar" class="img-circle img-fluid">
										</div>
									</div>
								</div>
								<div class="card-footer">
									<div class="text-right">
										<a href="#" class="btn btn-sm bg-teal">
											<i class="fas fa-comments"></i>
										</a>
										<a href="/Profile/Profile?profileId=@seller.Profile.Id" class="btn btn-sm btn-primary">
											<i class="fas fa-user"></i> View Profile
										</a>
									</div>
								</div>
							</div>
						</div>
					}
				}


			</div>
		</div>

	</div>

</section>