@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}

@*<div class="d-flex justify-content-center">
	<div class="card card-info" style="width: 550px">
	<div class="card-header">
	<h3 class="card-title">@ViewData["Title"]</h3>
	</div>
	<!-- /.card-header -->
	<!-- form start -->
	<form class="form-horizontal" id="account" method="post">
	<div class="card-body">
	<div class="form-group row">
	<label asp-for="Input.Email" class="col-sm-2 col-form-label">Email</label>
	<div class="col-sm-10">
	<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
	<span asp-validation-for="Input.Email" class="text-danger"></span>
	</div>
	</div>
	<div class="form-group row">
	<label asp-for="Input.Password" class="col-sm-2 col-form-label">Password</label>
	<div class="col-sm-10">
	<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
	<span asp-validation-for="Input.Password" class="text-danger"></span>
	</div>
	</div>
	<div class="form-group row">
	<div class="offset-sm-2 col-sm-10">
	<div class="form-check">

	<input class="form-check-input" asp-for="Input.RememberMe" />
	<label asp-for="Input.RememberMe" class="form-check-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
	</div>
	</div>
	</div>
	</div>

	<!-- Another Services start -->
	<h3 class="d-flex justify-content-center" >Use another service to log in.</h3>
	<hr />
	@{
	if ((Model.ExternalLogins?.Count ?? 0) == 0)
	{
	<div class="d-flex justify-content-center">
	<p>
	There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
	article
	about setting up this ASP.NET application to support logging in via external services
	</a>.
	</p>
	</div>
	}
	else
	{
	<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
	<div>
	<p>
	@foreach (var provider in Model.ExternalLogins)
	{
	<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
	}
	</p>
	</div>
	</form>
	}
	}
	<!--/.Another Services-->

	<!-- /.card-body -->
	<div class="card-footer">
	<button type="submit" class="btn btn-info">Sign in</button>
	<button type="submit" class="btn btn-default float-right">Cancel</button>
	</div>
	<!-- /.card-footer -->
	</form>


	</div>


	</div>*@
<div class="d-flex justify-content-center">
	<div class="login-box">
		<!-- /.login-logo -->
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="/" class="h1"><b>Cars</b>Market</a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">Sign in</p>

				<form id="account" method="post">
					<div class="input-group mb-3">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="icheck-primary">
								<input type="checkbox" asp-for="Input.RememberMe" />
								<label asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">Sign In</button>
						</div>
						<!-- /.col -->
					</div>
				</form>

@*				<div class="social-auth-links text-center mt-2 mb-3">
					<button class="btn btn-block btn-primary" name="provider" value="Facebook" type="submit">
						<i class="fab fa-facebook mr-2"></i> Sign in using Facebook
					</button>
					<a href="#" class="btn btn-block btn-danger">
						<i class="fab fa-google-plus mr-2"></i> Sign in using Google+
					</a>
				</div>*@
				<!-- /.social-auth-links -->
				<!-- Another Services start -->
				<hr />
				@{
					if ((Model.ExternalLogins?.Count ?? 0) == 0)
					{
						<div class="d-flex justify-content-center">
							<p>
								There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
									article
									about setting up this ASP.NET application to support logging in via external services
								</a>.
							</p>
						</div>
					}
					else
					{
						<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
							<div>
								<p>
									@foreach (var provider in Model.ExternalLogins)
									{
										<button type="submit" class="btn btn-block btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
											@{
												string value = " Sign in using Facebook";
												if (provider.DisplayName == "Facebook")
												{
													<i class="fab fa-facebook mr - 2"></i>
													@value
													;
												}
												else
												{
													@provider.DisplayName
													;
												}
											}
										</button>
									}
								</p>
							</div>
						</form>
					}
				}
				<!--/.Another Services-->
				<p class="mb-0">
					<a href="Register" class="text-center">Create new account</a>
				</p>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
