@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center">
	<div class="card card-info" style="width: 650px">
		<div class="card-header">
			<h3 class="card-title">@ViewData["Title"]</h3>
		</div>
		<!-- /.card-header -->
		<!-- form start -->
		<form class="form-horizontal" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<div class="card-body">
				<div class="form-group row">
					<label asp-for="Input.Email" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row">
					<label asp-for="Input.Password" class="col-sm-2 col-form-label">Password</label>
					<div class="col-sm-10">
						<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row">
					<label asp-for="Input.ConfirmPassword" class="col-sm-2 col-form-label">Confirm password</label>
					<div class="col-sm-10">
							<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm password" />
							<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>
				</div>
			</div>

			<!-- Another Services start -->
			<h3 class="d-flex justify-content-center">Use another service to register.</h3>
			<hr />
			@{
				if ((Model.ExternalLogins?.Count ?? 0) == 0)
				{
					<div>
						<p>
							There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
								article
								about setting up this ASP.NET application to support logging in via external services
							</a>.
						</p>
					</div>
				}
				else
				{
					<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
						<div>
							<p>
								@foreach (var provider in Model.ExternalLogins)
								{
									<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
								}
							</p>
						</div>
					</form>
				}
			}
			<!--/.Another Services-->
			<!-- /.card-body -->
			<div class="card-footer">
				<button id="registerSubmit" type="submit" class="btn btn-info">Register</button>
				<button type="submit" class="btn btn-default float-right">Cancel</button>
			</div>
			<!-- /.card-footer -->
		</form>
	</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
